version: "3.8"

services:
  # Инфраструктура: Брокер сообщений
  rabbitmq:
    image: rabbitmq:3.13-management
    ports:
      - "5672:5672"
      - "15672:15672"
    networks:
      - microservices-net
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "-q", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5

  # Инфраструктура: Трассировка
  zipkin:
    image: openzipkin/zipkin
    ports:
      - "9411:9411"
    networks:
      - microservices-net

  # Инфраструктура: Метрики
  prometheus:
    image: prom/prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9091:9090"
    networks:
      - microservices-net

  # Инфраструктура: Визуализация метрик
  grafana:
    image: grafana/grafana:latest
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
    volumes:
      - grafana_data:/var/lib/grafana
    networks:
      - microservices-net
    depends_on:
      - prometheus

  # Микросервисы
  analytics-service:
    build: ./analytics-service-restaurant
    ports:
      - "9090:9090" # gRPC порт
      - "8081:8081" # HTTP порт для метрик
    environment:
      - SPRING_RABBITMQ_HOST=rabbitmq
      - SERVER_PORT=8081
    depends_on:
      rabbitmq:
        condition: service_healthy
    networks:
      - microservices-net

  notification-service:
    build: ./notification-service-restaurant
    ports:
      - "8083:8083"
    environment:
      - SPRING_RABBITMQ_HOST=rabbitmq
      - SERVER_PORT=8083
    depends_on:
      rabbitmq:
        condition: service_healthy
    networks:
      - microservices-net

  audit-service:
    build: ./audit-service-restaurant
    ports:
      - "8082:8082"
    environment:
      - SPRING_RABBITMQ_HOST=rabbitmq
      - SERVER_PORT=8082
    depends_on:
      rabbitmq:
        condition: service_healthy
    networks:
      - microservices-net

  demo-rest:
    build: ./rest-restaurant
    ports:
      - "8080:8080"
    environment:
      - SPRING_RABBITMQ_HOST=rabbitmq
      # Указываем адрес gRPC сервиса внутри сети Docker
      - GRPC_CLIENT_ANALYTICS_SERVICE_ADDRESS=static://analytics-service:9090
    depends_on:
      rabbitmq:
        condition: service_healthy
      analytics-service:
        condition: service_started
    networks:
      - microservices-net

volumes:
  grafana_data:

networks:
  microservices-net:
    driver: bridge
